.HeaderEnlaces-container{
    display: flex;
    flex-direction: column;
    font-family: Baskerville Old Face;
    /* background-color: rgb(176, 176, 193); */
}

.headerEnlaces-1,
.headerEnlaces-2 {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.headerEnlaces-1 {
    /* background-color: aqua; */
}

.headerEnlaces-2 {
    /* background-color: rgb(6, 97, 97); */
}

.HREF-boton{
    background-color: rgb(55, 55, 65);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease;
}

.HREF-boton:hover {
    background-color: rgb(94, 94, 100);
}






/* Móviles Pequeños */
@media only screen and (min-width: 350px) and (max-width: 480px) {

    .HeaderEnlaces-container{
        width: 12.5rem;
        font-size: 7px;
        gap: 0.2rem;
    }

    .headerEnlaces-1,
    .headerEnlaces-2 {
        gap: 0.2rem;
    }

    .headerEnlaces-1 {
    }

    .headerEnlaces-2 {   
    }

    .HREF-boton{
        padding: 0.2rem;

    }

    .HREF-boton:hover {
    }

}


/* Móviles Medianos a Grandes */
@media only screen and (min-width: 481px) and (max-width: 767px) {

    .HeaderEnlaces-container{
        width: 14rem;
        font-size: 12px;
        gap: 1rem;
    }

    .headerEnlaces-1,
    .headerEnlaces-2 {
        gap: 1rem;
    }

    .headerEnlaces-1 {
    }

    .headerEnlaces-2 {  
    }

    .HREF-boton{
        padding: 0.2rem;
    }

    .HREF-boton:hover {
    }

}


/* Tabletas Pequeñas */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .HeaderEnlaces-container{
        width: 26rem;
        font-size: 15px;
        gap: 1rem;
    }

    .headerEnlaces-1,
    .headerEnlaces-2 {
        gap: 1rem;
    }

    .headerEnlaces-1 {
    }

    .headerEnlaces-2 {
    }

    .HREF-boton{
        padding: 0.2rem;
    }

    .HREF-boton:hover {
    }

}


/* Tabletas Grandes */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {

    .HeaderEnlaces-container{
        width: 40rem;
        font-size: 16px;
        gap: 1rem;
    }

    .headerEnlaces-1,
    .headerEnlaces-2 {
        gap: 1rem;
    }

    .headerEnlaces-1 {
    }

    .headerEnlaces-2 {
    }

    .HREF-boton {
        padding: 0.2rem;
    }
    
    .HREF-boton:hover {
    }

}


/* Laptops y Desktops Pequeños */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {

    .HeaderEnlaces-container{
        width: 52rem;
        font-size: 20px;
        gap: 1rem;
    }

    .headerEnlaces-1,
    .headerEnlaces-2 {
        gap: 1rem;
    }

    .headerEnlaces-1 {
    }

    .headerEnlaces-2 {
    }

    .HREF-boton {
        padding: 0.2rem;
    }

    
    .HREF-boton:hover {
    }
    
}


/* Desktops Grandes */
@media only screen and (min-width: 1441px) {

    .HeaderEnlaces-container{
        width: 57rem;
        font-size: 22px;
        gap: 1rem;
    }

    .headerEnlaces-1,
    .headerEnlaces-2 {
        gap: 1rem;
    }

    .headerEnlaces-1 {
    }

    .headerEnlaces-2 {
    }

    .HREF-boton {
        padding: 0.2rem;
    }

    .HREF-boton:hover {
    }

}