.Idiomas-container {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(241, 220, 211); */
}

.idiomas-titulo {
    background-color: rgb(55, 55, 65);
    color: rgb(255, 255, 255);
    font-family: Baskerville Old Face;
}

.idiomas-all-container {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(222, 222, 59); */
}

.idiomas-titulo-descripcion-container {
    display: flex;
    flex-direction: column;
}

.idiomas-icono-titulo-container {
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
}

.idiomas-icono {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.idiomas-espanol {
    background-image: url('../../../images/idiomas/espanol.png');
}

.idiomas-ingles {
    background-image: url('../../../images/idiomas/ingles.png');
}

.idiomas-titulo-lengua {
    display: flex;
    align-items: center;
    align-self: center;
    font-family: Mangal;
    font-weight: bold;
}

.idiomas-parrafo {
    text-align: justify;
    hyphens: auto;
    font-family: Mangal;
}






/* Móviles Pequeños */
@media only screen and (min-width: 350px) and (max-width: 480px) {

    .Idiomas-container {
        width: 5.5rem;
        gap: 0.5rem;
    }

    .idiomas-titulo {
        font-size: 9px;
        padding: 0.3rem;
    }

    .idiomas-all-container {
        width: 5.5rem;
        gap: 1rem;
    }

    .idiomas-titulo-descripcion-container {
        gap: 0.2rem;
    }

    .idiomas-icono-titulo-container {
        justify-content: center;
        gap: 0.3rem;
    }

    .idiomas-icono {
        border-radius: 20px;
        width: 0.7rem;
        height: 0.7rem;
    }

    .idiomas-titulo-lengua {
        font-size: 6px;
    }

    .idiomas-parrafo {
        line-height: 9px;
        font-size: 6px;
    }

}


/* Móviles Medianos a Grandes */
@media only screen and (min-width: 481px) and (max-width: 767px) {

    .Idiomas-container {
        width: 9rem;
        gap: 0.5rem;
    }

    .idiomas-titulo {
        font-size: 12px;
        padding: 0.3rem;
    }

    .idiomas-all-container {
        width: 9rem;
        gap: 1.3rem;
    }

    .idiomas-titulo-descripcion-container {
        gap: 0.2rem;
    }

    .idiomas-icono-titulo-container {
        justify-content: center;
        gap: 0.3rem;
    }

    .idiomas-icono {
        border-radius: 20px;
        width: 0.7rem;
        height: 0.7rem;
    }

    .idiomas-titulo-lengua {
        font-size: 8px;
    }

    .idiomas-parrafo {
        line-height: 9px;
        font-size: 8px;
    }

}


/* Tabletas Pequeñas */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .Idiomas-container {
        width: 14rem;
        gap: 0.7rem;
    }

    .idiomas-titulo {
        font-size: 15px;
        padding: 0.4rem;
    }

    .idiomas-all-container {
        width: 14rem;
        gap: 1.8rem;
    }

    .idiomas-titulo-descripcion-container {
        gap: 0.3rem;
    }

    .idiomas-icono-titulo-container {
        justify-content: center;
        gap: 0.5rem;
    }

    .idiomas-icono {
        border-radius: 20px;
        width: 1rem;
        height: 1rem;
    }

    .idiomas-titulo-lengua {
        font-size: 11px;
    }

    .idiomas-parrafo {
        line-height: 13px;
        font-size: 11px;
    }

}


/* Tabletas Grandes */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {

    .Idiomas-container {
        width: 16rem;
        gap: 0.8rem;
    }

    .idiomas-titulo {
        font-size: 16px;
        padding: 0.4rem;
    }

    .idiomas-all-container {
        width: 16rem;
        gap: 2rem;
    }

    .idiomas-titulo-descripcion-container {
        gap: 0.5rem;
    }

    .idiomas-icono-titulo-container {
        justify-content: center;
        gap: 0.5rem;
    }

    .idiomas-icono {
        border-radius: 20px;
        width: 1.1rem;
        height: 1.1rem;
    }

    .idiomas-titulo-lengua {
        font-size: 12.5px;
    }

    .idiomas-parrafo {
        line-height: 14px;
        font-size: 12.5px;
    }

}


/* Laptops y Desktops Pequeños */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {

    .Idiomas-container {
        width: 19rem;
        gap: 1rem;
    }

    .idiomas-titulo {
        font-size: 20px;
        padding: 0.4rem;
    }

    .idiomas-all-container {
        width: 19rem;
        gap: 2rem;
    }

    .idiomas-titulo-descripcion-container {
        gap: 0.6rem;
    }

    .idiomas-icono-titulo-container {
        justify-content: center;
        gap: 0.5rem;
    }

    .idiomas-icono {
        border-radius: 20px;
        width: 1.1rem;
        height: 1.1rem;
    }

    .idiomas-titulo-lengua {
        font-size: 15px;
    }

    .idiomas-parrafo {
        line-height: 16px;
        font-size: 15px;
    }

}


/* Desktops Grandes */
@media only screen and (min-width: 1441px) {

    .Idiomas-container {
        width: 24rem;
        gap: 1rem;
    }

    .idiomas-titulo {
        font-size: 22px;
        padding: 0.5rem;
    }

    .idiomas-all-container {
        width: 24rem;
        gap: 2.5rem;
    }

    .idiomas-titulo-descripcion-container {
        gap: 0.4rem;
    }

    .idiomas-icono-titulo-container {
        justify-content: center;
        gap: 0.5rem;
    }

    .idiomas-icono {
        border-radius: 20px;
        width: 1.2rem;
        height: 1.2rem;
    }

    .idiomas-titulo-lengua {
        font-size: 16px;
    }

    .idiomas-parrafo {
        line-height: 19px;
        font-size: 16px;
    }

}