.MainDerecho-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}






/* Móviles Pequeños */
@media only screen and (min-width: 350px) and (max-width: 480px) {
    
    .MainDerecho-container {
        width: 13rem;
        padding-top: 0.2rem;
        gap: 0.2rem;
    }

}


/* Móviles Medianos a Grandes */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    
    .MainDerecho-container {
        width: 16rem;
        padding-top: 1rem;
        gap: 1rem;
    }

}


/* Tabletas Pequeñas */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .MainDerecho-container {
        width: 28rem;
        padding-top: 1rem;
        gap: 1rem;
    }

}


/* Tabletas Grandes */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {

    .MainDerecho-container {
        width: 42rem;
        padding-top: 1rem;
        gap: 1rem;
    }

}


/* Laptops y Desktops Pequeños */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {

    .MainDerecho-container {
        width: 54rem;
        padding-top: 1rem;
        gap: 1rem;
    }

}


/* Desktops Grandes */
@media only screen and (min-width: 1441px) {

    .MainDerecho-container {
        width: 59rem;
        padding-top: 1rem;
        gap: 1rem;
    }

}