
.headerBanner-imagen {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-image: url('../../../images/header/LogoLinkedin.png');
    width: 100%;
    height: 250px;
}






/* Móviles Pequeños */
@media only screen and (min-width: 350px) and (max-width: 480px) {

    .headerBanner-imagen {
        height: 70px;
    }

}

/* Móviles Medianos a Grandes */
@media only screen and (min-width: 481px) and (max-width: 767px) {

    .headerBanner-imagen {
        height: 95px;

    }

}

/* Tabletas Pequeñas */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .headerBanner-imagen {
        height: 160px;
    }

}

/* Tabletas Grandes */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {

    .headerBanner-imagen {
        height: 200px;
    }

}

/* Laptops y Desktops Pequeños */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {

    .headerBanner-imagen {
        height: 240px;
    }

}

/* Desktops Grandes */
@media only screen and (min-width: 1441px) {

    .headerBanner-imagen {
        height: 270px;
    }

}