.Contacto-container {
    display: flex;
    flex-direction: column;
}

        .contacto-titulo {
            background-color: rgb(55, 55, 65);
            color: rgb(255, 255, 255);
            font-family: Baskerville Old Face;
        }

                .contacto-parrafo-container {
                    /* background-color: rgb(124, 164, 164, 0.5); */
                    display: flex;
                    flex-direction: column;
                    font-weight: bold;
                    text-decoration: underline;
                    color: rgb(49, 49, 245);    
                }

                        .contacto-enlace-container {
                            position: relative;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            border: solid 0.5px rgba(252, 252, 252, 0.8);

                            /* padding: 7px;
                            border-radius: 15px;
                            gap: 0.5rem; */
                            user-select: none; /* Evita selección del texto */
                        }

                        .contacto-enlace-container1{
                            /* width: 150px; */
                        }

                        .contacto-enlace-container2{
                            /* width: 300px; */
                        }
                        
                        .contacto-enlace-container:hover {
                            background-color: rgba(168, 150, 150, 0.5);
                            border: solid 0.5px rgba(0, 0, 0, 1);
                            /* border-radius: 10px; */
                        }
                        
                        .contacto-enlace-container:active {
                            background-color: rgba(98, 92, 92, 0.5);
                        }
                        
                        .contacto-enlace-container::after {
                            content: attr(data-tooltip);
                            position: absolute;
                            top: -30px;
                            left: 50%;
                            transform: translateX(-50%);
                            background-color: rgba(0, 0, 0, 0.8);
                            color: #fff;
                            white-space: nowrap;
                            opacity: 0;
                            pointer-events: none;
                            transition: opacity 0.2s ease-in-out;
                            /* padding: 5px 8px;
                            border-radius: 5px;
                            font-size: 15px; */
                        }
                        
                        .contacto-enlace-container[data-tooltip]:hover::after,
                        .contacto-enlace-container[data-tooltip]:active::after {
                            opacity: 1;
                        }
                        
                        .contacto-enlace-container[data-tooltip=""]::after {
                            content: none; /* Oculta el tooltip si no hay texto */
                        }

                                        .contacto-icono {
                                            background-repeat: no-repeat;
                                            background-position: center;
                                            background-size: 100% 100%;
                                        }
                                        
                                        .contacto-telefono{
                                            background-image: url('../../../images/contacto/telefono.png');

                                            /* width: 2rem;
                                            height: 2rem; */
                                        }

                                        .contacto-email{
                                            background-image: url('../../../images/contacto/email.png');

                                            /* width: 2rem;
                                            height: 2rem; */
                                        }

                                        .contacto-linkedin{
                                            background-image: url('../../../images/contacto/linkedin.png');

                                            /* width: 2rem;
                                            height: 2rem; */
                                        }

                                        .contacto-enlace{
                                            user-select: none; /* Evita la selección del texto */
                                        }

                                    .contacto-email-lineaTexto{
                                        display: flex;
                                    }



                                        
/* Móviles Pequeños */
@media only screen and (min-width: 350px) and (max-width: 480px) {

    .Contacto-container {
        gap: 0.5rem;
    }

            .contacto-titulo {
                font-size: 9px;
                padding: 0.2rem;
            }

                    .contacto-parrafo-container {
                        gap: 0.6rem;
                    }

                            .contacto-enlace-container {
                                padding: 3px;
                                border-radius: 7px;
                                gap: 0.2rem;
                                user-select: none; /* Evita selección del texto */
                            }

                            .contacto-enlace-container1{
                                width: 50px;
                            }

                            .contacto-enlace-container2{
                                width: 70px;
                            }
                            
                            .contacto-enlace-container:hover {
                                border-radius: 7px;
                            }
                            
                            .contacto-enlace-container:active {
                            }
                            
                            .contacto-enlace-container::after {
                                padding: 5px 8px;
                                border-radius: 5px;
                                font-size: 6px;
                            }
                            
                            .contacto-enlace-container[data-tooltip]:hover::after,
                            .contacto-enlace-container[data-tooltip]:active::after {
                                top: -18px;
                            }
                            
                            .contacto-enlace-container[data-tooltip=""]::after {
                            }

                                            .contacto-icono {
                                            }
                                            
                                            .contacto-telefono{
                                                width: 0.8rem;
                                                height: 0.8rem;
                                            }

                                            .contacto-email{
                                                width: 0.8rem;
                                                height: 0.8rem;
                                            }

                                            .contacto-linkedin{
                                                width: 0.8rem;
                                                height: 0.8rem;
                                            }

                                            .contacto-enlace{
                                                font-size: 6px;
                                            }

                                    .contacto-email-lineaTexto{
                                        flex-direction: column;
                                    }

}



/* Móviles Medianos a Grandes */
@media only screen and (min-width: 481px) and (max-width: 767px) {

    .Contacto-container {
        gap: 0.5rem;
    }

            .contacto-titulo {
                font-size: 12px;
                padding: 0.3rem;
            }

                    .contacto-parrafo-container {
                        gap: 0.8rem;
                    }

                            .contacto-enlace-container {
                                padding: 6px;
                                border-radius: 11px;
                                gap: 0.5rem;
                                user-select: none; /* Evita selección del texto */
                            }

                            .contacto-enlace-container1{
                                width: 80px;
                            }

                            .contacto-enlace-container2{
                                width: 100px;
                            }
                            
                            .contacto-enlace-container:hover {
                                border-radius: 10px;
                            }
                            
                            .contacto-enlace-container:active {
                            }
                            
                            .contacto-enlace-container::after {
                                padding: 5px 8px;
                                border-radius: 5px;
                                font-size: 8px;
                            }
                            
                            .contacto-enlace-container[data-tooltip]:hover::after,
                            .contacto-enlace-container[data-tooltip]:active::after {
                            }
                            
                            .contacto-enlace-container[data-tooltip=""]::after {
                            }

                                            .contacto-icono {
                                            }
                                            
                                            .contacto-telefono{
                                                width: 1.2rem;
                                                height: 1.2rem;
                                            }

                                            .contacto-email{
                                                width: 1.2rem;
                                                height: 1.2rem;
                                            }

                                            .contacto-linkedin{
                                                width: 1.2rem;
                                                height: 1.2rem;
                                            }

                                            .contacto-enlace{
                                                font-size: 8px;
                                            }

                                    .contacto-email-lineaTexto{
                                        flex-direction: column;
                                    }

}



/* Tabletas Pequeñas */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .Contacto-container {
        gap: 0.7rem;
    }

            .contacto-titulo {
                font-size: 15px;
                padding: 0.4rem;
            }

                    .contacto-parrafo-container {
                        gap: 0.8rem;
                    }

                            .contacto-enlace-container {
                                padding: 7px;
                                border-radius: 12px;
                                gap: 0.5rem;
                                user-select: none; /* Evita selección del texto */
                            }

                            .contacto-enlace-container1{
                                width: 101px;
                            }

                            .contacto-enlace-container2{
                                width: 150px;
                            }
                            
                            .contacto-enlace-container:hover {
                                border-radius: 10px;
                            }
                            
                            .contacto-enlace-container:active {
                            }
                            
                            .contacto-enlace-container::after {
                                padding: 5px 8px;
                                border-radius: 5px;
                                font-size: 13px;
                            }
                            
                            .contacto-enlace-container[data-tooltip]:hover::after,
                            .contacto-enlace-container[data-tooltip]:active::after {
                            }
                            
                            .contacto-enlace-container[data-tooltip=""]::after {
                            }

                                            .contacto-icono {
                                            }
                                            
                                            .contacto-telefono{
                                                width: 1.3rem;
                                                height: 1.3rem;
                                            }

                                            .contacto-email{
                                                width: 1.3rem;
                                                height: 1.3rem;
                                            }

                                            .contacto-linkedin{
                                                width: 1.3rem;
                                                height: 1.3rem;
                                            }

                                            .contacto-enlace{
                                                font-size: 13px;
                                            }

                                    .contacto-email-lineaTexto{
                                        flex-direction: column;
                                    }
        
}



/* Tabletas Grandes */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {

    .Contacto-container {
        gap: 0.8rem;
    }

            .contacto-titulo {
                font-size: 16px;
                padding: 0.4rem;
            }

                    .contacto-parrafo-container {
                        gap: 0.8rem;
                    }

                            .contacto-enlace-container {
                                padding: 7px;
                                border-radius: 13px;
                                gap: 0.5rem;
                                user-select: none; /* Evita selección del texto */
                            }

                            .contacto-enlace-container1{
                                width: 110px;
                            }

                            .contacto-enlace-container2{
                                width: 160px;
                            }
                            
                            .contacto-enlace-container:hover {
                                border-radius: 10px;
                            }
                            
                            .contacto-enlace-container:active {
                            }
                            
                            .contacto-enlace-container::after {
                                padding: 5px 8px;
                                border-radius: 5px;
                                font-size: 14px;
                            }
                            
                            .contacto-enlace-container[data-tooltip]:hover::after,
                            .contacto-enlace-container[data-tooltip]:active::after {
                            }
                            
                            .contacto-enlace-container[data-tooltip=""]::after {
                            }

                                            .contacto-icono {
                                            }
                                            
                                            .contacto-telefono{
                                                width: 1.4rem;
                                                height: 1.4rem;
                                            }

                                            .contacto-email{
                                                width: 1.4rem;
                                                height: 1.4rem;
                                            }

                                            .contacto-linkedin{
                                                width: 1.4rem;
                                                height: 1.4rem;
                                            }

                                            .contacto-enlace{
                                                font-size: 14px;
                                            }

                                    .contacto-email-lineaTexto{
                                        flex-direction: column;
                                    }
                        
}



/* Laptops y Desktops Pequeños */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {

    .Contacto-container {
        gap: 1rem;
    }

            .contacto-titulo {
                font-size: 20px;
                padding: 0.4rem;
            }

                    .contacto-parrafo-container {
                        gap: 1rem;
                    }

                            .contacto-enlace-container {
                                padding: 7px;
                                border-radius: 15px;
                                gap: 0.5rem;
                                user-select: none; /* Evita selección del texto */
                            }

                            .contacto-enlace-container1{
                                width: 115px;
                            }

                            .contacto-enlace-container2{
                                width: 260px;
                            }
                            
                            .contacto-enlace-container:hover {
                                border-radius: 10px;
                            }
                            
                            .contacto-enlace-container:active {
                            }
                            
                            .contacto-enlace-container::after {
                                padding: 5px 8px;
                                border-radius: 5px;
                                font-size: 15px;
                            }
                            
                            .contacto-enlace-container[data-tooltip]:hover::after,
                            .contacto-enlace-container[data-tooltip]:active::after {
                            }
                            
                            .contacto-enlace-container[data-tooltip=""]::after {
                            }

                                            .contacto-icono {
                                            }
                                            
                                            .contacto-telefono{
                                                width: 1.5rem;
                                                height: 1.5rem;
                                            }

                                            .contacto-email{
                                                width: 1.5rem;
                                                height: 1.5rem;
                                            }

                                            .contacto-linkedin{
                                                width: 1.5rem;
                                                height: 1.5rem;
                                            }

                                            .contacto-enlace{
                                                font-size: 15px;
                                            }

                                    .contacto-email-lineaTexto{
                                        
                                    }
        
                  
}



/* Desktops Grandes */
@media only screen and (min-width: 1441px) {

    .Contacto-container {
        gap: 1rem;
    }

            .contacto-titulo {
                font-size: 22px;
                padding: 0.4rem;
            }

                    .contacto-parrafo-container {
                        gap: 1rem;
                    }

                            .contacto-enlace-container {
                                padding: 7px;
                                border-radius: 15px;
                                gap: 0.5rem;
                                user-select: none; /* Evita selección del texto */
                            }

                            .contacto-enlace-container1{
                                width: 150px;
                            }

                            .contacto-enlace-container2{
                                width: 300px;
                            }
                            
                            .contacto-enlace-container:hover {
                                border-radius: 10px;
                            }
                            
                            .contacto-enlace-container:active {
                            }
                            
                            .contacto-enlace-container::after {
                                padding: 5px 8px;
                                border-radius: 5px;
                                font-size: 16px;
                            }
                            
                            .contacto-enlace-container[data-tooltip]:hover::after,
                            .contacto-enlace-container[data-tooltip]:active::after {
                            }
                            
                            .contacto-enlace-container[data-tooltip=""]::after {
                            }

                                            .contacto-icono {
                                            }
                                            
                                            .contacto-telefono{
                                                width: 2rem;
                                                height: 2rem;
                                            }

                                            .contacto-email{
                                                width: 2rem;
                                                height: 2rem;
                                            }

                                            .contacto-linkedin{
                                                width: 2rem;
                                                height: 2rem;
                                            }

                                            .contacto-enlace{
                                                font-size: 16px;
                                            }

                                    .contacto-email-lineaTexto{
                                        
                                    }


}