.Contacto-container {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(241, 220, 211); */
}

        .contacto-titulo {
            background-color: rgb(55, 55, 65);
            color: rgb(255, 255, 255);
            font-family: Baskerville Old Face;
        }

                .contacto-parrafo-container {
                    display: flex;
                    flex-direction: column;
                    font-weight: bold;
                    text-decoration: underline;
                    color: rgb(49, 49, 245);
                    /* background-color: rgb(222, 222, 59); */
                }

                        .contacto-icono-descripcion-container {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            cursor: pointer;
                            position: relative;
                            transition: transform 0.3s ease, box-shadow 0.3s ease;
                            /* background-color: aqua; */
                        }

                        .contacto-icono-descripcion-container-telefono:hover,
                        .contacto-icono-descripcion-container-mail:hover,
                        .contacto-icono-descripcion-container-linkedin:hover {
                        }

                                /* estilos de tooltip de telefono, mail y linkedin */
                                .contacto-icono-descripcion-container-telefono:hover .contactoTooltip,
                                .contacto-icono-descripcion-container-mail:hover .contactoTooltip,
                                .contacto-icono-descripcion-container-linkedin:hover .contactoTooltip {
                                    opacity: 1;
                                    visibility: visible;
                                }

                                /* mas estilos de tooltip de telefono, mail y linkedin */
                                .contactoTooltip {
                                    position: absolute;
                                    background-color: rgba(0, 0, 0, 0.7);
                                    color: #fff;
                                    white-space: nowrap;
                                    opacity: 0;
                                    visibility: hidden;
                                    transition: opacity 0.3s ease, transform 0.3s ease;
                                    z-index: 10;
                                }

                        /* telefono */
                        .contacto-icono-descripcion-container-telefono {
                        }

                        /* mail */
                        .contacto-icono-descripcion-container-mail {
                        }

                        /* linkedin */
                        .contacto-icono-descripcion-container-linkedin{
                        }
        
                                .contactoTooltip {                               
                                }

                    .contacto-icono {
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100% 100%;
                    }

                    .contacto-telefono{
                        background-image: url('../../../images/contacto/telefono.png');
                    }
                    .contacto-correo{
                        background-image: url('../../../images/contacto/email.png');
                    }
                    .contacto-linkedin{
                        background-image: url('../../../images/contacto/linkedin.png');
                    }

                    .contacto-descripcion {
                        display: flex;
                        overflow-wrap: break-word;
                        white-space: normal;
                        justify-content: left;
                        /* background-color: rgb(211, 118, 118); */
                    }






/* Móviles Pequeños */
@media only screen and (min-width: 350px) and (max-width: 480px) {

    .Contacto-container {
        gap: 0.5rem;
    }

            .contacto-titulo {
                font-size: 9px;
                padding: 0.2rem;
            }

                    .contacto-parrafo-container {
                        gap: 0.6rem;
                    }

                            .contacto-icono-descripcion-container {
                                gap: 0.2rem;
                                padding: 0.1rem;
                                border-radius: 6px;
                            }

                            .contacto-icono-descripcion-container-telefono:hover,
                            .contacto-icono-descripcion-container-mail:hover,
                            .contacto-icono-descripcion-container-linkedin:hover {
                                border: solid 0.5px rgba(0, 0, 0, 1);
                                transform: translateY(-2px);
                                box-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
                            }

                                    /* estilos de tooltip de telefono, mail y linkedin */
                                    .contacto-icono-descripcion-container-telefono:hover .contactoTooltip,
                                    .contacto-icono-descripcion-container-mail:hover .contactoTooltip,
                                    .contacto-icono-descripcion-container-linkedin:hover .contactoTooltip {
                                        transform: translateY(-10px);
                                    }

                                    /* mas estilos de tooltip de telefono, mail y linkedin */
                                    .contactoTooltip {
                                        transform: translateX(-20%);
                                    }
                            
                            /* telefono */
                            .contacto-icono-descripcion-container-telefono {
                                width: 4rem;
                            }

                            /* mail */
                            .contacto-icono-descripcion-container-mail {
                                width: 4.8rem;
                            }

                            /* linkedin */
                            .contacto-icono-descripcion-container-linkedin{
                                width: 3.5rem;
                            }
            
                                    .contactoTooltip {  
                                        transform: translateX(-20%);
                                        padding: 5px;
                                        border-radius: 6px;
                                        font-size: 8px;
                                        top: -12px;
                                        left: 0%;
                                    }

                        .contacto-icono {
                            width: 0.8rem;
                            height: 0.8rem;
                            margin-left: 0.3rem;
                        }

                        .contacto-telefono{
                            background-image: url('../../../images/contacto/telefono.png');
                        }
                        .contacto-correo{
                            background-image: url('../../../images/contacto/email.png');
                        }
                        .contacto-linkedin{
                            background-image: url('../../../images/contacto/linkedin.png');
                        }

                        .contacto-descripcion {
                            flex-direction: column;
                            font-size: 6px;
                        }

}


/* Móviles Medianos a Grandes */
@media only screen and (min-width: 481px) and (max-width: 767px) {

    .Contacto-container {
        gap: 0.5rem;
    }

            .contacto-titulo {
                font-size: 12px;
                padding: 0.3rem;
            }

                    .contacto-parrafo-container {
                        gap: 0.8rem;
                    }

                            .contacto-icono-descripcion-container {
                                gap: 0.3rem;
                                padding: 0.1rem;
                            }

                            .contacto-icono-descripcion-container-telefono:hover,
                            .contacto-icono-descripcion-container-mail:hover,
                            .contacto-icono-descripcion-container-linkedin:hover {
                                border: solid 0.5px rgba(0, 0, 0, 1);
                                transform: translateY(-5px);
                                box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
                            }

                                    /* estilos de tooltip de telefono, mail y linkedin */
                                    .contacto-icono-descripcion-container-telefono:hover .contactoTooltip,
                                    .contacto-icono-descripcion-container-mail:hover .contactoTooltip,
                                    .contacto-icono-descripcion-container-linkedin:hover .contactoTooltip {
                                        transform: translateY(-10px);
                                    }

                                    /* mas estilos de tooltip de telefono, mail y linkedin */
                                    .contactoTooltip {
                                        transform: translateX(-20%);
                                    }

                            /* telefono */
                            .contacto-icono-descripcion-container-telefono {
                                width: 5rem;
                                border-radius: 7px;
                            }

                            /* mail */
                            .contacto-icono-descripcion-container-mail {
                                width: 7rem;
                                border-radius: 7px;
                            }

                            /* linkedin */
                            .contacto-icono-descripcion-container-linkedin{
                                width: 4.5rem;
                                border-radius: 7px;
                            }
            
                                    .contactoTooltip {                               
                                        padding: 5px;
                                        border-radius: 7px;
                                        font-size: 10px;
                                        top: -16px;
                                        left: 0%;
                                    }

                        .contacto-icono {
                            width: 1.3rem;
                            height: 1.3rem;
                            margin-left: 0.5rem;
                        }

                        .contacto-telefono{
                            background-image: url('../../../images/contacto/telefono.png');
                        }
                        .contacto-correo{
                            background-image: url('../../../images/contacto/email.png');
                        }
                        .contacto-linkedin{
                            background-image: url('../../../images/contacto/linkedin.png');
                        }

                        .contacto-descripcion {
                            flex-direction: column;
                            font-size: 8px;
                        }

}


/* Tabletas Pequeñas */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .Contacto-container {
        gap: 0.7rem;
    }

            .contacto-titulo {
                font-size: 15px;
                padding: 0.4rem;
            }

                    .contacto-parrafo-container {
                        gap: 0.8rem;
                    }

                            .contacto-icono-descripcion-container {
                                gap: 0.3rem;
                                padding: 0.2rem;
                            }

                            .contacto-icono-descripcion-container-telefono:hover,
                            .contacto-icono-descripcion-container-mail:hover,
                            .contacto-icono-descripcion-container-linkedin:hover {
                                border: solid 0.5px rgba(0, 0, 0, 1);
                                transform: translateY(-8px);
                                box-shadow: 6px 6px 6px rgba(0, 0, 0, 1);
                            }

                                    /* estilos de tooltip de telefono, mail y linkedin */
                                    .contacto-icono-descripcion-container-telefono:hover .contactoTooltip,
                                    .contacto-icono-descripcion-container-mail:hover .contactoTooltip,
                                    .contacto-icono-descripcion-container-linkedin:hover .contactoTooltip {
                                        transform: translateY(-10px);
                                    }

                                    /* mas estilos de tooltip de telefono, mail y linkedin */
                                    .contactoTooltip{
                                        transform: translateX(-20%);
                                    }

                            /* telefono */
                            .contacto-icono-descripcion-container-telefono {
                                width: 6.5rem;
                                border-radius: 9px;
                            }

                            /* mail */
                            .contacto-icono-descripcion-container-mail {
                                width: 13rem;
                                border-radius: 9px;
                            }

                            /* linkedin */
                            .contacto-icono-descripcion-container-linkedin{
                                width: 5.5rem;
                                border-radius: 9px;
                            }
            
                                    .contactoTooltip {                               
                                        padding: 8px;
                                        border-radius: 9px;
                                        font-size: 13px;
                                        top: -25px;
                                        left: 0%;
                                    }

                        .contacto-icono {
                            width: 1.5rem;
                            height: 1.5rem;
                            margin-left: 0.6rem;
                        }

                        .contacto-telefono{
                            background-image: url('../../../images/contacto/telefono.png');
                        }
                        .contacto-correo{
                            background-image: url('../../../images/contacto/email.png');
                        }
                        .contacto-linkedin{
                            background-image: url('../../../images/contacto/linkedin.png');
                        }

                        .contacto-descripcion {
                            flex-direction: row;
                            font-size: 11px;
                        }

}


/* Tabletas Grandes */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {

    .Contacto-container {
        gap: 0.8rem;
    }

            .contacto-titulo {
                font-size: 16px;
                padding: 0.4rem;
            }

                    .contacto-parrafo-container {
                        gap: 0.8rem;
                    }

                            .contacto-icono-descripcion-container {
                                gap: 0.4rem;
                                padding: 0.2rem;
                            }

                            .contacto-icono-descripcion-container-telefono:hover,
                            .contacto-icono-descripcion-container-mail:hover,
                            .contacto-icono-descripcion-container-linkedin:hover {
                                border: solid 0.5px rgba(0, 0, 0, 1);
                                transform: translateY(-10px);
                                box-shadow: 7px 7px 7px rgba(0, 0, 0, 1);
                            }

                                    /* estilos de tooltip de telefono, mail y linkedin */
                                    .contacto-icono-descripcion-container-telefono:hover .contactoTooltip,
                                    .contacto-icono-descripcion-container-mail:hover .contactoTooltip,
                                    .contacto-icono-descripcion-container-linkedin:hover .contactoTooltip {
                                        transform: translateY(-10px);
                                    }

                                    /* mas estilos de tooltip de telefono, mail y linkedin */
                                    .contactoTooltip{
                                        transform: translateX(-20%);
                                    }

                            /* telefono */
                            .contacto-icono-descripcion-container-telefono {
                                width: 7.5rem;
                                border-radius: 10px;
                            }

                            /* mail */
                            .contacto-icono-descripcion-container-mail {
                                width: 15rem;
                                border-radius: 10px;
                            }

                            /* linkedin */
                            .contacto-icono-descripcion-container-linkedin{
                                width: 6rem;
                                border-radius: 10px;
                            }
            
                                    .contactoTooltip {                               
                                        padding: 8px;
                                        border-radius: 10px;
                                        font-size: 14.5px;
                                        top: -28px;
                                        left: 0%;
                                    }

                        .contacto-icono {
                            width: 1.7rem;
                            height: 1.7rem;
                            margin-left: 0.6rem;
                        }

                        .contacto-telefono{
                            background-image: url('../../../images/contacto/telefono.png');
                        }
                        .contacto-correo{
                            background-image: url('../../../images/contacto/email.png');
                        }
                        .contacto-linkedin{
                            background-image: url('../../../images/contacto/linkedin.png');
                        }

                        .contacto-descripcion {
                            flex-direction: row;
                            font-size: 12.5px;
                        }

}


/* Laptops y Desktops Pequeños */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {

    .Contacto-container {
        gap: 1rem;
    }

            .contacto-titulo {
                font-size: 20px;
                padding: 0.4rem;
            }

                    .contacto-parrafo-container {
                        gap: 1rem;
                    }

                            .contacto-icono-descripcion-container {
                                gap: 0.4rem;
                                padding: 0.4rem;
                            }

                            .contacto-icono-descripcion-container-telefono:hover,
                            .contacto-icono-descripcion-container-mail:hover,
                            .contacto-icono-descripcion-container-linkedin:hover {
                                border: solid 0.5px rgba(0, 0, 0, 1);
                                transform: translateY(-12px);
                                box-shadow: 8px 8px 8px rgba(0, 0, 0, 1);
                            }

                                    /* estilos de tooltip de telefono, mail y linkedin */
                                    .contacto-icono-descripcion-container-telefono:hover .contactoTooltip,
                                    .contacto-icono-descripcion-container-mail:hover .contactoTooltip,
                                    .contacto-icono-descripcion-container-linkedin:hover .contactoTooltip {
                                        transform: translateY(-10px);
                                    }

                                    /* mas estilos de tooltip de telefono, mail y linkedin */
                                    .contactoTooltip{
                                        transform: translateX(-20%);
                                    }

                            /* telefono */
                            .contacto-icono-descripcion-container-telefono {
                                width: 9.5rem;
                                border-radius: 15px;
                            }

                            /* mail */
                            .contacto-icono-descripcion-container-mail {
                                width: 18rem;
                                border-radius: 15px;
                            }

                            /* linkedin */
                            .contacto-icono-descripcion-container-linkedin{
                                width: 7.5rem;
                                border-radius: 15px;
                            }
            
                                    .contactoTooltip {                               
                                        padding: 10px;
                                        border-radius: 10px;
                                        font-size: 17px;
                                        top: -35px;
                                        left: 0%;
                                    }

                        .contacto-icono {
                            width: 1.9rem;
                            height: 1.9rem;
                            margin-left: 1rem;
                        }

                        .contacto-telefono{
                            background-image: url('../../../images/contacto/telefono.png');
                        }
                        .contacto-correo{
                            background-image: url('../../../images/contacto/email.png');
                        }
                        .contacto-linkedin{
                            background-image: url('../../../images/contacto/linkedin.png');
                        }

                        .contacto-descripcion {
                            flex-direction: row;
                            font-size: 15px;
                        }

}


/* Desktops Grandes */
@media only screen and (min-width: 1441px) {

    .Contacto-container {
        gap: 1rem;
    }

            .contacto-titulo {
                font-size: 22px;
                padding: 0.4rem;
            }

                    .contacto-parrafo-container {
                        gap: 1rem;
                    }

                            .contacto-icono-descripcion-container {
                                gap: 0.4rem;
                                padding: 0.4rem;
                            }

                            .contacto-icono-descripcion-container-telefono:hover,
                            .contacto-icono-descripcion-container-mail:hover,
                            .contacto-icono-descripcion-container-linkedin:hover {
                                border: solid 0.5px rgba(0, 0, 0, 1);
                                transform: translateY(-14px);
                                box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
                            }

                                    /* estilos de tooltip de telefono, mail y linkedin */
                                    .contacto-icono-descripcion-container-telefono:hover .contactoTooltip,
                                    .contacto-icono-descripcion-container-mail:hover .contactoTooltip,
                                    .contacto-icono-descripcion-container-linkedin:hover .contactoTooltip {
                                        transform: translateY(-10px);
                                    }

                                    /* mas estilos de tooltip de telefono, mail y linkedin */
                                    .contactoTooltip{
                                        transform: translateX(-20%);
                                    }

                            /* telefono */
                            .contacto-icono-descripcion-container-telefono {
                                width: 9.5rem;
                                border-radius: 15px;
                            }

                            /* mail */
                            .contacto-icono-descripcion-container-mail {
                                width: 19.5rem;
                                border-radius: 15px;
                            }

                            /* linkedin */
                            .contacto-icono-descripcion-container-linkedin{
                                width: 8rem;
                                border-radius: 15px;
                            }
            
                                    .contactoTooltip {                               
                                        padding: 10px;
                                        border-radius: 10px;
                                        font-size: 18px;
                                        top: -37px;
                                        left: 0%;
                                    }

                        .contacto-icono {
                            width: 2rem;
                            height: 2rem;
                            margin-left: 1rem;
                        }

                        .contacto-telefono{
                            background-image: url('../../../images/contacto/telefono.png');
                        }
                        .contacto-correo{
                            background-image: url('../../../images/contacto/email.png');
                        }
                        .contacto-linkedin{
                            background-image: url('../../../images/contacto/linkedin.png');
                        }

                        .contacto-descripcion {
                            flex-direction: row;
                            font-size: 16px;
                        }

}