body {
    font-family: "Mangal", "Baskerville Old Face", "Times New Roman", serif;
}

.Main-container{
    display: flex;
    flex-direction: row;
}

.App{
    display: flex;
    justify-content: center;
}

.App-container{
}


@font-face {
    font-family: 'Baskerville Old Face';
    src: url('../src/fonts/baskerville-old-face.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}






/* Móviles Pequeños */
@media only screen and (min-width: 350px) and (max-width: 480px) {
  
    .App {
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        background-color: rgb(236, 179, 167);
    }

    .App-container {
        box-shadow: 8px 15px 5px rgba(0, 0, 0, 0.3);
        border: 2px solid rgba(55, 55, 65);
        width: 19rem;
    }

}





/* Móviles Medianos a Grandes */
@media only screen and (min-width: 481px) and (max-width: 767px) {


    .App {
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        background-color: rgb(31, 183, 117);
    }

    .App-container {
        box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.3);
        border: 2px solid rgba(55, 55, 65);
        width: 26rem;
    }


}





/* Tabletas Pequeñas */
@media only screen and (min-width: 768px) and (max-width: 1024px) {


    .App {
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: rgb(12, 41, 137);
    }

    .App-container {
        box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.3);
        border: 2px solid rgba(55, 55, 65);
        width: 44rem;
    }


}





/* Tabletas Grandes */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {


    .App {
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: rgb(174, 0, 255);
    }

    .App-container {
        box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.3);
        border: 2px solid rgba(55, 55, 65);
        width: 60rem;
    }

    
}





/* Laptops y Desktops Pequeños */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {

    
    .App {
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: rgb(255, 242, 0);
    }

    .App-container {
        box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.3);
        border: 2px solid rgba(55, 55, 65);
        width: 75rem;
    }


}





/* Desktops Grandes */
@media only screen and (min-width: 1441px) {


    .App {
        padding-top: 2rem;
        padding-bottom: 2rem;
        /* background-color: rgb(193, 213, 213); */
    }

    .App-container {
        box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.3);
        border: 2px solid rgba(55, 55, 65);
        width: 85rem;
    }


}