/* Estilo base del contenedor de la imagen de perfil */
.imagenperfil-imagen {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-image: url('../../../images/header/foto_de_perfil.png');
    cursor: grab;
    /* background-color: blue; */
}

.imagenperfil-fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
}

.imagenperfil-fullscreen-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenperfil-fullscreen-img {
    max-width: 120vw;
    max-height: 120vh;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}






/* Móviles Pequeños */
@media only screen and (min-width: 350px) and (max-width: 480px) {
    
    .imagenperfil-imagen {
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }

    .imagenperfil-fullscreen-overlay {
    }

    .imagenperfil-fullscreen-image {
    }
        
    .imagenperfil-fullscreen-img {
        max-width: 140vw;
        max-height: 140vh;
        transform: scale(1);
    }
}

/* Móviles Medianos a Grandes */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    
    .imagenperfil-imagen {
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }

    .imagenperfil-fullscreen-overlay {
    }

    .imagenperfil-fullscreen-image {
    }

    .imagenperfil-fullscreen-img {
    max-width: 130vw;
    max-height: 130vh;
    transform: scale(1.6);
    }

}

/* Tabletas Pequeñas */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .imagenperfil-imagen {
        width: 170px;
        height: 170px;
        border-radius: 85px;
    }

    .imagenperfil-fullscreen-overlay {
    }

    .imagenperfil-fullscreen-image {
    }

    .imagenperfil-fullscreen-img {
        max-width: 125vw;
        max-height: 125vh;
        transform: scale(1.7);
    }

}

/* Tabletas Grandes */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    
    .imagenperfil-imagen {
        width: 180px;
        height: 180px;
        border-radius: 90px;
    }

    .imagenperfil-fullscreen-overlay {
    }

    .imagenperfil-fullscreen-image {
    }

    .imagenperfil-fullscreen-img {
        max-width: 120vw;
        max-height: 120vh;
        transform: scale(1.8);
    }

}

/* Laptops y Desktops Pequeños */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
    
    .imagenperfil-imagen {
        width: 210px;
        height: 210px;
        border-radius: 105px;
        
    }

    .imagenperfil-fullscreen-overlay {
    }

    .imagenperfil-fullscreen-image {
    }

    .imagenperfil-fullscreen-img {
        max-width: 110vw;
        max-height: 110vh;
        transform: scale(2);
    }

}

@media only screen and (min-width: 1441px) {
    
    .imagenperfil-imagen {
        width: 250px;
        height: 250px;
        border-radius: 125px;
    }

    .imagenperfil-fullscreen-overlay {
    }

    .imagenperfil-fullscreen-image {
    }

    .imagenperfil-fullscreen-img {
        max-width: 300vw;
        max-height: 300vh;
        transform: scale(2.5);
    }

}